.card {
  max-width: 800px;
  height: 280px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 25px 30px;
}

.card-question {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 20px;
}

.card-answer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  transition: transform 0.3s, cursor 0.3s;
  cursor: pointer;
}

.card-answer:hover {
  transform: scale(1.03);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-answer:hover button {
  visibility: visible;
}

.card-answer-text {
  flex-grow: 1;
}

.card-answer-button {
  visibility: hidden;
  background-color: #f8f8f8;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.card-result {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 5px 10px;
}

.corect {
  font-size: 18px;
  font-weight: 600;
  color: green;
}

.false {
  font-size: 18px;
  font-weight: 600;
  color: red;
}
